{% extends 'base.html.twig' %}

{% block title %}Cmt index{% endblock %}

{% block body %}
    <h1>Cmt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cmt in cmts %}
            <tr>
                <td>{{ cmt.id }}</td>
                <td>{{ cmt.commentaire }}</td>
                <td>
                    <a href="{{ path('cmt_show', {'id': cmt.id}) }}">show</a>
                    <a href="{{ path('cmt_edit', {'id': cmt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cmt_new') }}">Create new</a>
{% endblock %}
