<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='{{asset ('assets/images/favicon.ico')}}'>
    <link href='{{ asset("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap") }}' rel="stylesheet">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href='{{ asset("vendor/bootstrap/css/bootstrap.min.css")}}' rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href='{{ asset("assets/css/fontawesome.css")}}'>
    <link rel="stylesheet" href='{{  asset("assets/css/style.css")}}'>
    <link rel="stylesheet" href='{{ asset("assets/css/owl.css") }}'>

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href='{{ asset("index.html")}}'><h2>GO <em>RANDO</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{{ asset("index.html") }}'>Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item"><a class="nav-link" href='{{ asset("packages.html") }}'>Packages</a></li>

                    <li class="nav-item"><a class="nav-link" href='{{ asset("blog.html") }}'>Blog</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href='{{ asset("#") }}' role="button" aria-haspopup="true" aria-expanded="false">More</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href='{{ asset("assets/css/owl.css") }}'>About Us</a>
                            <a class="dropdown-item" href='{{ asset("testimonials.html") }}'>Testimonials</a>
                            <a class="dropdown-item" href='{{ asset("terms.html") }}'>Terms</a>
                        </div>
                    </li>

                    <li class="nav-item active"><a class="nav-link" href='{{ asset("contact.html") }}'>PARTICIPATE</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="page-heading contact-heading header-text" style="background-image: url({{asset ("assets/images/heading-4-1920x500.jpg")}});>
        <div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="text-content">
            <h4>WANNA GO ON A FREE RANDO? </h4>
            <h2>WIN NOW WITH US</h2>
        </div>
    </div>
</div>
</div>
</div>
<div>
    <div>
<div>
    <div class="form-check">
        <div class="col-md-8">
            <div class="contact-form">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="container mt-3">
                            <div class="section-heading">

                                <div class="container mt-3">


                                            <div class="section-heading">
                                                <th>
                                                    <div class="section-heading">

                                                    <ul class="social-icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                                </th>
                                    <form action="/action_page.php">
                                        <h1>
                                        <label for="customRange" class="section-heading">GO RANDO EVENTS </label>
                                        </h1>
                                        <div>
                                        <th> Rate us </th>
                                        <input type="range" class="form-range" id="customRange" name="points">
                                        <fieldset>
                                            <div class="col-md-8">
                                            </div>
                                            <button type="submit" class="filled-button">Send</button>
                                    </form>
                                </div>
                                <div class="section-heading">
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">What do you prefer </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">CULTURAL TOURISM </a>
                                        <fieldset>
                                            <th>

                                        <a class="dropdown-item" href="#"> URBAN TOURISM</a>
                                            <fieldset>
                                            </th>
                                     <th>   <a class="dropdown-item" href="#">SEASIGHT TOURISM </a>
                                                <fieldset>
                                     </th>
                                     <th>  <a class="dropdown-item" href="#">DESERT TOURISM </a>
                                                    <fieldset>
                                     </th>
                                    </div>
                                </div>
                                <div class="section-heading">
                                </div>
                <th> Do you prefer participate on Go RANDO's evenets as :</th>
                                <div class="section-heading">
                                </div>
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="" checked>
        <label class="form-check-label">Group leader</label>

                                    <fieldset>
                                        <fieldset>
        <input class="form-check-input" type="checkbox" id="check2" name="option2" value="" checked>
        <label class="form-check-label"simple group  member</label>
                    <fieldset>
                        <fieldset>
        <input class="form-check-input" type="checkbox" id="check3" name="option3" value="" checked>
        <label class="form-check-label"> individual memeber  </label>
                                <div class="section-heading">
                                </div>
                            </div>
                        <fieldset>
                            <th> Do you spend a lot of time searching for transport :</th>
                            <fieldset>
                             </div>
                                </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Yes
                                <label class="form-check-label" for="radio1"></label>
                                <fieldset>
                                    <fieldset>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">No
                                <label class="form-check-label" for="radio2"></label>
                                <fieldset>
                                    <fieldset>

                                    </fieldset>
                            </div>



    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2></h2>
                    </div>
                </div>

                <div class="col-md-8">

                </div>
{% block body %}
    <h1>NOW YOU CAN WIN A FREE RONDO</h1>
    <H2> REGISTER NOW AND MAKE IT HAPPEN</H2>


    {{ include('gagnats/_form.html.twig') }}


{% endblock %}
            </div>
    </div>
    </div>
       </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">


                    <p>Copyright © 2021 SEEKERS </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src='{{ asset("vendor/jquery/jquery.min.js") }}'></script>
<script src='{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}'></script>


<!-- Additional Scripts -->
<script src='{{ asset("assets/js/custom.js") }}'></script>
<script src='{{ asset("assets/js/owl.js") }}'></script>
</body>

</html>
